<<<<<<< HEAD
@charset "UTF-8";

/*--- 主體區 ---*/
div.container>div.row>p{;font-size: 1.5rem; line-height: 2rem;}
#bg1{background-image: url(https://images.unsplash.com/photo-1579693207456-a3c037d9a8d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
	background-attachment:fixed;background-size:100vw;background-repeat: no-repeat;background-position: 50% 65%;
	opacity: 0.7;border-bottom-right-radius:60% 120px;border-bottom-left-radius:500px 50%;}
#bg-footer{}
=======
@charset "UTF-8";

/*--- 主體區 ---*/
div.container>div.row>p{;font-size: 1.5rem; line-height: 2rem;}
#bg1{background-image: url(https://images.unsplash.com/photo-1579693207456-a3c037d9a8d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80);
	background-attachment: fixed;background-size:cover;background-position: 50% 60%;
	opacity: 0.7;border-bottom-right-radius:60% 120px;border-bottom-left-radius:500px 50%;}
>>>>>>> 3b30767d9cde4f824aafac02babb2352f2c126db
