@charset "UTF-8";

/*--- 通用區 ---*/

/*--- 頁首導覽區 ---*/
.show-under-768px{
	display: block;
}
.show-above-768px{
	display: none;
}


/*--- Menu Float ---*/
#menu-float{
	position: relative;
	display: flex;
	justify-content: space-around;
}
#menu-float>button{
	display: none;
}


/*--- 自適應比照Bootstrap尺寸 ---*/
/*--- Phone Landscape Style ---*/
@media screen and (max-width: 575px){
	

	
}
@media screen and (min-width:576px){
	
}

/*--- Pad Portrait Style ---*/
@media screen and (min-width:768px) {
	.show-above-768px{
		display: block;
	}
	.show-under-768px{
		display: none;
	}
	#menu-float{
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	flex-direction: column;
	top: 15%;
	left: 1%;
	z-index: 10;
	border-radius: 5px;
	background-color: #e6e6e6;
	}
	#menu-float>button{
	display: block;
	}
}

/*--- Pad Landscape Style ---*/
@media screen and (min-width:992px) {
	
}

/*--- PC Style ---*/
@media screen and (min-width:1200px){
	
}