@charset "UTF-8";

/*--- 通用區 ---*/

/*--- 頁首導覽區 ---*/
.show-under-768px{
	display: block;
}
.show-above-768px{
	display: none;
}
/* --- test --- */
#test{
	background-color: antiquewhite;
	width: 1110px;
	height: 600px;
}


/*--- Menu Float ---*/
#menu-float{
	position: relative;
	display: flex;
	justify-content: space-around;
}
#menu-float>a>img:hover{
	animation: menuFloatBtn 0.5s 0s forwards;
}
#menu-float>button{
	display: none;
}
@keyframes menuFloatBtn {
	from {opacity: 1;
		border-radius: 20px;}
	to {opacity: 1;
		border-radius: 20px;
		box-shadow: 5px 5px 10px grey;}
}


/*--- 自適應比照Bootstrap尺寸 ---*/
/*--- Phone Landscape Style ---*/
@media screen and (max-width: 575px){
	

	
}
@media screen and (min-width:576px){
	
}

/*--- Pad Portrait Style ---*/
@media screen and (min-width:768px) {
	.show-above-768px{
		display: block;
	}
	.show-under-768px{
		display: none;
	}
	
}

/*--- Pad Landscape Style ---*/
@media screen and (min-width:992px) {
	#menu-float{
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	flex-direction: column;
	top: 20%;
	left: 1%;
	z-index: 10;
	border-radius: 5px;
	background-color: #e6e6e6;
	}
	#menu-float>button{
	display: block;
	}
}

/*--- PC Style ---*/
@media screen and (min-width:1200px){
	
}